@tailwind base;
@tailwind components;
@tailwind utilities;


/* Roboto font utility */
.roboto {
 font-family: 'Roboto',sans-serif;
}
/* Pacifico font utility */
.pacifico{
    font-family: "Pacifico", cursive;
}
/* Londrina font utility */
.londrina {
    font-family: "Londrina Sketch", sans-serif;
}


/* body {
  margin: 0;
  background: repeating-linear-gradient(
    55deg,       
      black,        
      black 90%,    
      #cd5ff8 30%,
      #cd5ff8 100%  
  );
  background-size: cover; 
  background-position: center;  
} */

/* @media screen and (max-width: 768px) { */
  /* body {
    margin: 0;
    background: repeating-linear-gradient(
        95deg,
        black,
        black 80%,
        #DAA520 70%,
        #DAA520 100%
    );
    background-size: cover; 
    background-position: center;  
  }  */
/* } */
  


.text-shadow {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}

/* Navbar  */



.cut-border {
    clip-path: polygon(0 0, 90% 0, 100% 140%, 10% 100%);
}



.cut-border1 {
    clip-path: polygon(0% 0%, 100% 0, 90% 100%, 100% 0%);
}
@keyframes running-border {
    0% {
      border-image-source: linear-gradient(5deg, transparent, #6e07f3, transparent);
      border-image-slice: 1;
    }
    50% {
      border-image-source: linear-gradient(100deg, transparent, white, transparent);
    }
    100% {
      border-image-source: linear-gradient(50deg, transparent, #6e07f3, transparent);
    }
  }
  
  .running-border {
    padding: 20px; /* Padding for text */
    border: 8px solid transparent; /* Initial border */
    border-radius: 50px; /* Rounded corners */
    border-image-slice: 1; /* Apply the gradient */
    animation: running-border 2s linear infinite; /* Animation */
    text-align: center; /* Center text */
  }
    
  

  .text-shadow-sm {
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

.text-shadow-md {
    text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.3);
}

.text-shadow-lg {
    text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.2);
}

.text-shadow-xl {
    text-shadow: 4px 4px 0 rgba(255, 255, 255, 0.1);
}

.shadow-all-sides {
  box-shadow: 0 0 10px white; /* Creates a shadow effect on all sides */
}

#hero-image {
  background-color: #cd5ff8; /* Set base background color to black */
  background-image: repeating-linear-gradient(
      55deg,                 /* Angle of the stripes */
      black, /* Solid gold color (#DAA520) */
      black  50%, /* Gold takes 30% */
      #cd5ff8 30%,             /* Black starts */
      #cd5ff8 100%             /* Black takes the remaining 70% */
  );
}


#laptop-mockup-screen{
  background-image: url('./assets/Images/Capture.PNG');
  background-position: center;
  background-size: cover;
}




.rotating-bg {   
  animation: rotate 1s linear infinite; 
}


 @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.rotating-bg1 {   
  animation: rotate reverse 1s linear infinite; 
}

.shadow-top {
  box-shadow: 0 -5px 5px rgba(255, 255, 255, 0.5); /* Adjust values as needed */
}
 /* Body Background */
 body{
  background-image: url('./assets/Images/pngtree-binary-code-blue-gradient-abstract-background-image_770054.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
 }


 .pixel-spinner, .pixel-spinner * {
  box-sizing: border-box;
}

.pixel-spinner {
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pixel-spinner .pixel-spinner-inner {
  width: calc(70px / 7);
  height: calc(70px / 7);
  background-color: #24ff18;
  color: #24ff18;
  box-shadow: 15px 15px  0 0,
              -15px -15px  0 0,
              15px -15px  0 0,
              -15px 15px  0 0,
              0 15px  0 0,
              15px 0  0 0,
              -15px 0  0 0,
              0 -15px 0 0;
  animation: pixel-spinner-animation 2000ms linear infinite;
}

@keyframes pixel-spinner-animation {
  50% {
    box-shadow: 20px 20px 0px 0px,
                -20px -20px 0px 0px,
                20px -20px 0px 0px,
                -20px 20px 0px 0px,
                0px 10px 0px 0px,
                10px 0px 0px 0px,
                -10px 0px 0px 0px,
                0px -10px 0px 0px;
  }
  75% {
    box-shadow: 20px 20px 0px 0px,
                -20px -20px 0px 0px,
                20px -20px 0px 0px,
                -20px 20px 0px 0px,
                0px 10px 0px 0px,
                10px 0px 0px 0px,
                -10px 0px 0px 0px,
                0px -10px 0px 0px;
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Keyframes for background movement */
@keyframes moveBackground {
  0% {
      
      background-size: 200px;
  }
  50% {
      
      background-size: 210px; 
  }
  100% {
      
      background-size: 200px;
  }
}
       








/* Header Styles */
.header {
  background-color: transparent; /* Transparent background */
  color: #dcdcdc; /* Light Gray Text */
  padding: 20px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Add a glow effect */
}

/* Example of text elements */

.tc {
  color:black; 
}


.lobster {
  font-family: monospace;
  font-weight: 300;
  font-style: normal;
}



.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: light;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: light;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: medium;
  font-style: normal;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}



#ul #li:hover:nth-child(1) a {
  background-color: #3b5998;
}

#ul #li:hover:nth-child(2) a {
  background-color: #00aced;
}

#ul #li:hover:nth-child(3) a {
  background-color: #dd4b39;
}

#ul #li:hover:nth-child(4) a {
  background-color: #e4405f;
}

#ul #li:hover .fa, ul li:hover span {
  color: white;
}

#ul #li a::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 25px;
  background-color: #b1b1b1;
  border-radius: 10px;
  transform: skewY(-45deg);
  
}

#ul #li a::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -15px;
  height: 22px;
  width: 100%;
  background-color: #b1b1b1;
  border-radius: 10px;
  transform: skewX(-45deg);
}



.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.discord {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}

@media (max-width: 582px) {
  #navbar{
    display: flex;
    flex-direction: row;
    background: #05365c;
    height: 20px;
  }
}

